doctype html
html
  head
    <img src="icon.png" >
    div
      <a href=/>home</a>
      <a href=about>about</a>
      <a href=contacts>contact</a>

    <link rel="stylesheet" type="text/css" href="/styles/header.css">
  body
