doctype html
html
  head
    <img class="icon" src="icon.png" >
    div
      <a href=/>Home</a>
      <a href=about>About</a>
      <a href=contacts>Contact</a>

    <link rel="stylesheet" type="text/css" href="/styles/header.css">
  body
