doctype html
html


  <link rel="stylesheet" type="text/css" href="/styles/about.css">
  body
   include includes/header.pug
   h2 We are makers, breakers, and innovators
   include includes/footer.pug
