doctype html
html
  include includes/header.pug
  head
   <link rel="stylesheet" type="text/css" href="/styles/about.css">
  body
   h2 We are makers, breakers, and innovators
  include includes/footer.pug
